@import url(/styles.css);

* {
    background-color: var(--color-secondary);
}

section {
    padding: 2rem;
    margin: 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-size: var(--h1-text);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

p {
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
}

.red_color {
    color: var(--special-text-color);
}


.home-img {
    width: 50%;
}

.title-img {
    display: flex;
    justify-content: space-between;
}

.exclamation {
    width: 15%;
}

.exclamation-text {
    display: flex; 
}
.arrow {
    width: 18%;
}
.arrow-text {
    display: flex;
}

/* Estilos para pantallas de hasta 600px */
@media screen and (max-width: 600px) {
    .navbar {
      text-align: center;
    }
    
    .navbar ul {
      display: flex;
      flex-direction: column;
    }
    
    .navbar li {
      margin: 5px 0;
    }
    
    .title-img {
      text-align: center;
    }
    
    .title-img h1 {
      font-size: 24px;
    }
    
    .home-img {
      max-width: 100%;
      height: auto;
    }
    
    footer ul {
      display: flex;
      justify-content: center;
    }
    
  }
  
  /* Estilos para pantallas de hasta 900px */
  @media screen and (max-width: 900px) {
    .title-img {
      flex-direction: column;
      align-items: center;
    }
    
    .title-img h1 {
      font-size: 36px;
    }
  }
  
  /* Estilos para pantallas de hasta 1200px */
  @media screen and (max-width: 1200px) {
    .title-img h1 {
      font-size: 48px;
    }
  }
  
